{% extends 'base.html.twig' %}

{% block title %} {{  ship.name }} {%  endblock %}

{% block body %}
    <h1>{{  ship.name }}</h1>

    <table>

        <tr>
            <th>Class</th>
            <td>{{ ship.class }}</td>
        </tr>
        <tr>
            <th>Captain</th>
            <td>{{ ship.captain|upper }}</td>
        </tr>
        <tr>
            <th>Status</th>
            <td>{{ ship.status }}</td>
        </tr>
    </table>

{% endblock %}