{% extends 'base.html.twig' %}

{% block title %}{{ parent() }} Starshop: Beam up some parts! {% endblock %}

{%  block body %}
<h1><strong>Starshop</strong>: your monopoly-busting option for Starship parts!</h1>

<div>
    Browse through {{ numberOfStarships }} starships

    {% if numberOfStarships > 450 %}
        <p>
            That's a shipload of ships!
        </p>
    {%  endif %}
</div>

<div>
    <h2>My Ship</h2>

    <table>

        <tr>
            <th>Name</th>
            <td>{{ myShip.name }}</td>
        </tr>
        <tr>
            <th>Class</th>
            <td>{{ myShip.class }}</td>
        </tr>
        <tr>
            <th>Captain</th>
            <td>{{ myShip.captain|upper }}</td>
        </tr>
        <tr>
            <th>Status</th>
            <td>{{ myShip.status }}</td>
        </tr>
    </table>
</div>

{% endblock %}