{% extends 'base.html.twig' %}

{% block title %}Starshop: Beam up some parts! {% endblock %}

{%  block body %}
<h1 class="text-4xl"><strong>Starshop</strong>: your monopoly-busting option for Starship parts!</h1>

<div>
    Browse through {{ ships|length }} starships

    {% if ships|length > 2 %}
        <p>
            That's a shipload of ships!
        </p>
    {%  endif %}
</div>

<div>
    <h2>My Ship</h2>

    <table>

        <tr>
            <th>Name</th>
            <td>
                <a href="{{ path('app_starship_show', { id: myShip.id }) }}">
                    {{ myShip.name }}
                </a>
            </td>
        </tr>
        <tr>
            <th>Class</th>
            <td>{{ myShip.class }}</td>
        </tr>
        <tr>
            <th>Captain</th>
            <td>{{ myShip.captain|upper }}</td>
        </tr>
        <tr>
            <th>Status</th>
            <td>{{ myShip.status }}</td>
        </tr>
    </table>
</div>

{% endblock %}